<ion-card>
  <ion-card-header>
    <ion-item>
      <ion-button (click)="activos=true" expand="block" fill="clear" shape="round" slot="start" color="success">
        Ver Pacientes activos
      </ion-button>
      <ion-button (click)="activos=false" expand="block" fill="clear" shape="round" slot="end" color="danger">
        Ver Pacientes borrados
      </ion-button>
    </ion-item>
    <ion-searchbar placeholder="Buscar paciente" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)"
      [debounce]="250"></ion-searchbar>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-label>Dirección</ion-label>
      <ion-label>Obra social</ion-label>
      <ion-button expand="block" fill="clear" shape="round" (click)="mostrarModal()">
        <ion-icon name="person-add-outline" style="margin-right: 5px;"></ion-icon>
        Nuevo paciente
      </ion-button>
    </ion-item>
  </ion-card-header>
  <ion-list>
    <div *ngFor="let paciente of pacientes | buscarPaciente:textoBuscar">
      <ion-item class="fila" (click)="verHistoria(paciente._id)" *ngIf="paciente.estado == activos">
        <ion-label>{{paciente.nombre | titlecase}}</ion-label>
        <ion-label>{{paciente.direccion | titlecase}}</ion-label>
        <ion-label>{{paciente.obraSocial | titlecase}}</ion-label>
        <ion-button expand="block" fill="clear" shape="round">
          Ver historia clínica
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</ion-card>