<!-- <nav>
    <ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <li>
            <a routerLink="/tienda">tienda</a>
        </li>
        <li><a routerLink="/tienda/promociones">promociones</a></li>
        <li><a routerLink="/tienda/promociones/32312">promocion</a></li>
        <li><a routerLink="/tienda/mi-cuenta">cuenta</a></li>
        <li><a routerLink="/entrar">login</a></li>
        <li><a routerLink="/tienda/turnos">turnos</a></li>
        <li><a routerLink="/panel-control">Panel de control</a></li>
        <li><a routerLink="/panel-control/promociones">Panel promociones</a></li>
    </ul>
</nav> -->
<router-outlet></router-outlet>