/* Estilos globales */

* {
    border: 0;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenido-principal {
    margin-top: 5em;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Fin estilos globales */

/* MENU PRINCIPAL */
.menu-principal {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: grid;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-principal__logo {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 1em;
    margin-right: 20px;
}

.menu-principal__logo:hover {
    color: #e91e63;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.menu-principal__opciones {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.menu-principal__opciones ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-right: 3em;
}

.menu-principal__opciones ul li a {
    color: #565656;
    margin-left: 20px;
    padding: 0 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.menu-principal__opciones ul li a:hover {
    color: #e91e63;
    transform: scale(1.1);
}

.menu-principal__opciones ul li a:last-child {
    margin-right: 0;
}

/* Fin menu principal */

/* Presentación */

.contenido-principal__presentacion {
    background-color: lightblue;
    width: 100%;
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(2, 1fr);
}

.presentacion__frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentacion__slideshow {
    background-color: lightgray;
    width: 100%;
}

.presentacion__frase {
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.presentacion__frase__boton-reserva {
    margin-top: 1em;
}

/* Fin presentación */


/* Servicios */

/* Servicios */
.contenido-principal__servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    padding-bottom: 1em;
}

.contenido-principal__servicios__lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-top: 2em;
    padding: 0 2em;
    list-style: none;
    justify-items: center;
    align-items: center;
}

.contenido-principal__servicios__lista li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-principal__servicios__lista li i {
    font-size: 2em;
    margin-bottom: 10px;
}

.contenido-principal__servicios__lista li h3 {
    margin-bottom: 10px;
}

.contenido-principal__servicios__lista li p {
    text-align: center;
    line-height: 1.5;
}

/* Fin servicios */

/* Promociones */

.promociones__titulo {
    text-align: center;
    margin-bottom: 1em;
}

.contenido-principal__promociones {
    background-color: lightgreen;
    padding: 15px;
}

.contenido-principal__promociones__contenedor ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenido-principal__promociones__contenedor ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3em;
    margin-bottom: 1em;
}

.contenido-principal__promociones__contenedor ul li label {
    text-align: center;
}

.contenido-principal__promociones__contenedor ul li img {
    width: 170px;
    border-radius: 15px;
}

/* Fin promociones */


/* Contacto */
.contenido-principal__ubicacion {
    background-color: lightsalmon;
    padding: 15px;
}

/* Fin contacto */


/* Footer */
footer {
    text-align: center;
    background-color: lightseagreen;
    padding: 15px;
}