mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    padding: 15px;
  }
  
  .active {
    background-color: rgba(0, 0, 0, 0.04);
  }
  