<mat-toolbar color="primary">

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Menú Principal</span>

  <span class="example-spacer"></span>

  <button mat-icon-button (click)="salir()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [opened]="false" [disableClose]="false">
    <mat-toolbar >
      <div class="cabecera-menu">
        <span>Panel de Control</span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/panel-control/promociones" routerLinkActive="active" (click)="sidenav.toggle()">
        <div class="opcion">
          <mat-icon mat-list-icon>local_offer</mat-icon>
          <span>Promociones</span>
        </div>
      </a>
      <a mat-list-item routerLink="/panel-control/usuarios" routerLinkActive="active" (click)="sidenav.toggle()">
        <div class="opcion">
          <mat-icon mat-list-icon>people</mat-icon>
          <span>Usuarios</span>
        </div>
      </a>
      <a mat-list-item routerLink="/panel-control/caja" routerLinkActive="active" (click)="sidenav.toggle()">
        <div class="opcion">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <span>Caja</span>
        </div>
      </a>
      <a mat-list-item routerLink="/panel-control/clientes" routerLinkActive="active" (click)="sidenav.toggle()">
        <div class="opcion">
          <mat-icon mat-list-icon>person</mat-icon>
          <span>Clientes</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <router-outlet></router-outlet>
  </mat-toolbar>

</mat-sidenav-container>