.container {
    display: flex;
    justify-content: center;
    background-color: #E91E63;
    height: 100%;
}

.caja-login {
    margin-top: 10%;
    width:  auto;
    height: 20em;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

mat-card-content {
    padding-top: 1em;
}

.boton {
    display: flex;
    justify-content: center;
}
