<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" style="margin-left: 1em; font-size: 1.3em; cursor: pointer;"
      (click)=" volverAtras()"></ion-icon>
    <ion-title slot="start" style="cursor: pointer;" (click)="volverAtras()">Volver atrás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="11">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nuevo paciente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form type="submit" (ngSubmit)="guardarPaciente()" autocomplete="off" [formGroup]="pacienteFormulario">
              <ion-item>
                <ion-label>Nombre completo: </ion-label>
                <ion-input type="text" formControlName="nombre"
                  onkeyup="this.value = this.value.toUpperCase();"></ion-input>
                <ion-label *ngIf="campoEsValido('nombre')" style="color:red;">Escriba un nombre válido
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Sexo: </ion-label>
                <ion-select placeholder="Selecione un sexo" formControlName="sexo">
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                  <ion-select-option value="Femenino">Femenino</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>DNI: </ion-label>
                <ion-input type="text" formControlName="dni"></ion-input>
                <ion-label *ngIf="campoEsValido('dni')" style="color:red;">Escriba un DNI válido</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fecha de nacimiento: </ion-label>
                <ion-input type="text" formControlName="fechaNacimiento">
                </ion-input>
                <ion-label *ngIf="campoEsValido('fechaNacimiento')" style="color:red;">Escriba una fecha válida
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Teléfono: </ion-label>
                <ion-input type="text" formControlName="telefono"></ion-input>
                <ion-label *ngIf="campoEsValido('telefono')" style="color:red;">Escriba un teléfono válido</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Dirección: </ion-label>
                <ion-input type="text" formControlName="direccion"></ion-input>
                <ion-label *ngIf="campoEsValido('direccion')" style="color:red;">Escriba una dirección válida
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Obra social: </ion-label>
                <ion-input type="text" formControlName="obraSocial"></ion-input>
                <ion-label *ngIf="campoEsValido('obraSocial')" style="color:red;">Escriba una obra social válida
                </ion-label>
              </ion-item>
              <ion-button expand="block" fill="clear" shape="round" type="submit">
                Guardar nuevo paciente
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>